$small: "only screen and (max-width: 768px)";
$medium: "only screen and (max-width: 991px)";

$white: #ffff;
$blue: #4da6ff;
$darkBlue: #4d6680;
$orange: #ff8a00;
$darkOrange: #a77b47;
$gray: #565a69;
$gray66: #666666;
$borderGray: #0000003b;
$strongPink: #ff2f5a;
