@import "../../../styles/variables.scss";

.addNewComments {
  .field {
    width: 100%;
  }
  .row {
    display: flex;

    .textareaField {
      width: 100%;
      margin: 0 0 20px 0;
      fieldset {
        border-radius: 0;
      }
    }
  }
  .button {
    height: 37px;
    min-width: 133px;
    float: right;
    background: $blue;
    color: $white;
    text-transform: none;
    box-shadow: none;
    span {
      font-family: "Roboto Medium";
      text-align: center;
    }
  }
}
